*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choise:hover {
    cursor: pointer;
    background-color: #081b31;
    opacity: 0.5;
}
.choise{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 35px;
}
.score-boadrd{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 60px;
    margin-top: 40px;
}
#userscore,#compscore{
    font-size: 5rem;
}
.message-bar {
    background-color: #081b31;
    color:white;
    margin-top: 40px;
    display:inline-block;
    padding: 1rem;
    border-radius: 30px;
}
.message{
    font-size: 5rem;
}